:root {
--IRIS:#4D5AE5;
--NAVY-BLUE:#2E2F42;
--WHITE:#FFF;
--CLOUD: #F4F4FD;
--SLATE: #434455;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.container {
      max-width: 1440px;
      padding-left: ;
      padding-right: ;
      margin-left: ;
      margin-right:
}
/* gen style */
body {
   font-family: "Roboto", sans-serif;
}
.list {
   list-style: none;
   
}
.dark-background{
   background-color: var(--NAVY-BLUE);
   height: 600px;
}
.logo {
   font-family: Raleway;
   font-weight: 800;
}
.logo1 {
   color: var(--IRIS)
}
.link {
   text-decoration: none;
}
/* end of gen style */
.hero-text {
   color: var(--WHITE)
}
button {
   
}






.logo-studio-footer {
   color: var(--CLOUD)
}