:root {
--IRIS:#4D5AE5;
--NAVY-BLUE:#2E2F42;
--WHITE:#FFF;
--CLOUD: #F4F4FD;
--SLATE: #434455;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


/* gen style */
body {
   font-family: "Roboto", sans-serif;

}
.list {
   list-style: none;
   
}
.navs {
   display: flex;
   justify-content: flex-start;
}
.dark-background{
   
   background-color: var(--NAVY-BLUE);
   height: 600px;
   text-align: center;
   
}
.logo {
   font-family: Raleway;
   font-weight: 800;
   font-size: 18px;
}
.logo1 {
   color: var(--IRIS)
}
.link {
   text-decoration: none;
}
/* end of gen style */
.nav-link {
   color: var(--NAVY-BLUE);
   font-weight: 500;
   font-size: 16px;
}
.hero-text {
   color: var(--WHITE);
   font-size: 56px;
   font-weight: 700;
   
}
button {
   background-color: var(--IRIS);
   border: none;
   border-radius: 4px;
   color: var(--WHITE);
   
}
.container2 {
   padding: 0 0 0 8px;
   height: 104px;
   flex-shrink: 0;
   

}
.list-benefits {
   display: flex;
   flex-wrap: wrap;
   column-gap: 50px;
   padding: 0;
   list-style: none;
   justify-content: center;
   padding-left: 40px;
   padding-right: 40px;
}






.logo-studio-footer {
   color: var(--CLOUD)
}
.footer-text {
   color: var(--CLOUD);
}